* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ------------------
     Bannar Design
---------------------- */
.bannar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: black;
    border-radius: 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 50px 0px;
}


.bannar-detail h1 {
    font-size: 50px;
}

.banner-img {
    position: relative;
}

.bannar-img img {
    position: relative;
    bottom: -57px;
    width: 100%;
}

.bannar-btn {
    background-color: red;
    padding: 16px 25px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    color: white;
}

/* ------------------------
   Sidbar and main content
-------------------------- */
.main-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 50px;
}

.sidebar-widget {
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    margin-right: 24px;
}

.btn {
    display: block;
    width: 100%;
    padding: 17px 40px;
    border-radius: 8px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-red {
    background-color: red;
    color: white;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.blog-card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.blog-img img {
    width: 100%;
}

.btn-transfer {
    padding: 4px 20px;
    background-color: white;
    border-color: #161616;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 20px;
    margin-left: 10px;
}

.blog-content {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.blog-footer {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

.timezone {
    margin-right: 10px;
}

.comment-box {
    margin-left: 30px;
    margin-right: 10px;
}

/* -------------
    footer
------------- */

.footer {
    background-color: #161616;
    color: white;
    padding: 50px 0;
}

.footer h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
}

.footer ul {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.social-icon {
    display: flex;
    margin: 0 15px;
    color: #fff;
}

/*-------------------
   Responsive device 
 --------------------*/
@media only screen and (max-width: 834px) {
    .bannar-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .bannar-detail h1 {
        font-size: 40px;
    }

    .main-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .sidebar-widget {
        background: #ffff;
    }

    .btn {
        display: inline-block;
    }

    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer ul {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .bannar-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }
}