* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ------------------
     Bannar Design
---------------------- */
.bannar-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
    background-color: black;
    border-radius: 20px;
    color: white;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.bannar-detail {
    margin-left: 103px;
}

.bannar-detail h1 {
    font-size: 50px;
}

.bannar-img {
    margin-right: 80px;
}

.bannar-img img {
    height: 613px;
    width: 581px;
}

.bannar-btn {
    background-color: red;
    padding: 16px 25px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    color: white;
}

/* ------------------------
   Sidbar and main content
-------------------------- */
.main-container {
    margin: 150px 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
}

.sidebar {
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    margin-right: 24px;
}

.btn {
    display: block;
    width: 100%;
    padding: 17px 40px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 8px;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
}

.btn-red {
    background-color: red;
    color: white;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.blog-img img {
    width: 312px;
    height: 175px;
}

.btn-transfer {
    padding: 4px 20px;
    background-color: white;
    border-color: #161616;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 20px;
}

.blog-content {
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog-footer {
    display: flex;
}

.timezone {
    margin-right: 10px;
}

.comment-box {
    margin-left: 30px;
    margin-right: 10px;
}

/* -------------
    footer
------------- */

.footer {
    background-color: #161616;
    height: 240px;
    color: white;
}

.footer h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
}